<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Sistema de Inventario</h1>

<form action="/login" method="post">

    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p>
    </div>

    <label>Correo</label><br>
    <input type="email" name="correo" required><br><br>

    <label>Contraseña</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Iniciar sesión</button>
</form>

</body>
</html>